.App {
  font-family: 'Museo Sans';
  letter-spacing: 1px;
  font-weight: 200;
}


/* /////////NAGIVATION STYLE/////////// */
.comp1{
  background-color: transparent;
  color: white;
  height: 48em;

}

.comp1a{
  background-color: rgba(0,0, 0, 0.8);
  height: 4.4em;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav{
  color: white;
  display: flex;
  height: 4.4em;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.logo{
  background-color: transparent;

}

.menu{
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
}

.nav-links a {
  color: rgb(255,255,255);
  text-decoration: none;
  font-size: 13.5px;
}

li {
  list-style: none;
  padding-left: 2.7em;
}


/* ///////// SLIDERS & SLIDER TEXT/////////// */
.slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.slider {
  display: flex;
}

.slideText{
  position: absolute;
  height: 13em;
  width:80%;
  display: flex;
  flex-direction: column;
}

.slideSelector{
  display: flex;
  flex-direction: row;
  width: 25%;
}

.indicators {
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: space-between;
}




/* ///////// COMP2 STYLE /////////// */
.comp2{
  background-color: white;
  color: rgb(69, 17, 21);
  height: 32em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.comp2a{
  width: 80%;
  display: flex;
  align-items: center; 
  /* background-color: red; */
}

.abstract{
  width: 50%;
}

.header{
  font-weight: 500;
  font-size: 34px;
  color: #9D2B4A;
}

.bodyText{
  font-size: 16x;
  line-height: 1.3em;
  font-weight:300;
  text-align: justify;
}

.abstractImage{
  width: 60%;
}

.button{
  padding: 20px;
  background-color: #9D2B4A;
  color: white;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
  margin-top: 10%;

}


/* ///////// COMP3 STYLE /////////// */
.comp3{
  background-color: white;
  color: black;
  height: 47em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.comp3a{
   width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  /* background-color: red; */
}

.servicesContent{
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  padding-left: 40px;

}

.servicesContentColumn{
  display: flex;
  flex-direction: column;
  flex:1;
  align-items: space-between; 
}

.acImage{
  display: flex;
  flex-direction: row;
}

.acContent{
  display: flex;
  flex-direction: column;
}

.acImage2{
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  
}



/* ///////// COMP5 STYLE /////////// */
.comp4{
  background-color: red;
  color:  rgb(69, 17, 21);
  height: 40.2em;
}



.comp5{
  background-color: black;
  color:  rgb(235, 226, 226);
  height: 22.2em;

}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
